*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  text-underline-offset: 4px;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

/* container設定 */
.container {
  max-width: 1296px;
  margin: 0 auto;
  padding-right: 12px;
  padding-left: 12px;
}

.container-md {
  max-width: 856px;
  margin: 0 auto;
  padding-right: 12px;
  padding-left: 12px;
}

.container-xs {
  max-width: 375px;
  margin: 0 auto;
  padding-right: -12px;
  padding-left: -12px;
}

/* 通用設定 */
.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.gap-8 {
  gap: 8px;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.hero {
  background-image: url(/assets/images/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 400px;
  font-weight: 700;
  text-align: center;
  padding: 151px 0;
}

.text-white {
  color: $neutral-0;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-48 {
  margin-top: 48px;
}

.mt-64 {
  margin-top: 64px;
}

.mr-8 {
  margin-right: 8px;
}

.mr-24 {
  margin-right: 24px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-48 {
  margin-right: 48px;
}

.my-48 {
  margin: 48px 0;
}

.p-12 {
  padding: 12px;
}

.p-15 {
  padding: 15px;
}

.pt-32 {
  padding-top: 32px;
}

.px-24 {
  padding: 0 24px;
}

.py-8 {
  padding: 8px 0;
}

.py-12 {
  padding: 12px 0;
}

.py-16 {
  padding: 16px 0;
}

.py-24 {
  padding: 24px 0;
}

.py-32 {
  padding: 32px 0;
}

.py-48 {
  padding: 48px 0;
}

.py-64 {
  padding: 64px 0;
}

.py-100 {
  padding: 100px 0;
}

.py-118 {
  padding: 118px 0;
}

.pb-4 {
  padding-bottom: 4px;
}

.pb-12 {
  padding-bottom: 12px;
}

.pb-16 {
  padding-bottom: 16px;
}

.pb-24 {
  padding-bottom: 24px;
}

.pb-32 {
  padding-bottom: 32px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-48 {
  padding-bottom: 48px;
}

.pr-8 {
  padding-right: 8px;
}

.pl-8 {
  padding-left: 8px;
}

.pl-12 {
  padding-left: 12px;
}

.text-center {
  text-align: center;
}

.text-danger-300 {
  color: $danger-300;
}

.text-primary-400 {
  color: $primary-400;
}

.text-neutral-0 {
  color: $neutral-0;
}

.text-neutral-500 {
  color: $neutral-500;
}

.text-neutral-600 {
  color: $neutral-600;
}

.text-neutral-900 {
  color: $neutral-900;
}

.bg-primary-100 {
  background-color: $primary-100;
}

.bg-primary-200 {
  background-color: $primary-200;
}

.bg-neutral-100 {
  background-color: $neutral-100;
}

.border-bottom {
  border-bottom: 1px solid $neutral-300;
}

.border-left {
  border-left: 1px solid $neutral-900;
}

.border-left-3 {
  border-left: 3px solid $neutral-300;
}

.list-style-type {
  list-style-type: disc;
}

.banner {
  background: $primary-100;
  text-align: center;
}

.intro img {
  width: 1076px;
  max-width: none;
  margin-left: -110px;
}

.banner-title {
  color: $primary-400;
}

.bi {
  font-size: 18px;
}

.container-footer {
  background: $neutral-100;
  text-align: center;
  padding: 64px 0;
}

/* 元件 */
.btn {
  border-radius: 4px;
  padding: 12px 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
}

.btn-black {
  background-color: $neutral-900;
  color: $neutral-0;
}

.mobile-only {
  display: none;
}

/* RWD container設定 */
@media (max-width: 575px) {
  .container-xs {
    max-width: 551px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
  }
}

/* RWD通用設定 */
@media (max-width: 575px) {
  .intro img {
    width: 100%;
    display: block;
    margin-left: 0;
  }

  .d-flex-xs {
    display: flex;
  }

  .d-flex-1-xs {
    flex: 1px;
  }

  .d-block-xs {
    display: block;
  }

  .d-none-xs {
    display: none;
  }

  .flex-wrap-xs {
    flex-wrap: wrap;
  }

  .flex-nowrap-xs {
    flex-wrap: nowrap;
  }

  .flex-column-xs {
    flex-direction: column;
  }

  .overflow-x-auto-xs {
    overflow-x: auto;
  }

  .overhidden-xs {
    overflow: hidden;
  }

  .px-16-xs {
    padding: 16px 0;
  }

  .py-0-xs {
    padding: 0;
  }

  .py-12-xs {
    padding: 0 12px;
  }

  .py-24-xs {
    padding: 0 24px;
  }

  .py-32-xs {
    padding: 32px 0;
  }

  .py-40-xs {
    padding: 40px 0;
  }

  .pb-8-xs {
    padding-bottom: 8px;
  }

  .pb-12-xs {
    padding-bottom: 12px;
  }

  .pb-24-xs {
    padding-bottom: 24px;
  }

  .pb-32-xs {
    padding-bottom: 32px;
  }

  .mt-0-xs {
    margin-top: 0;
  }

  .mt-32-xs {
    margin-top: 32px;
  }

  .mb-8-xs {
    margin-bottom: 8px;
  }

  .mb-12-xs {
    margin-bottom: 12px;
  }

  .mb-32-xs {
    margin-bottom: 32px;
  }

  .mb-16-xs {
    margin-bottom: 16px;
  }

  .mb-24-xs {
    margin-bottom: 24px;
  }

  .mb-0-xs {
    margin-bottom: 0;
  }

  .mr-0-xs {
    margin-right: 0;
  }

  .mr-8-xs {
    margin-right: 8px;
  }

  .mx-16-xs {
    margin: 16px 0;
  }

  .header-xs {
    display: none;
  }

  .hero-xs {
    background-image: url(/assets/images/c7e2e0d7111d666be94562b6f4830973da8b0621.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }

  .banner-xs {
    text-align: left;
    padding: 24px 0;
  }

  .mobile-only {
    display: block;
  }
  .over-hidden-xs {
    display: none;
  }
}
