/* Dispaly */
.dispaly-1 {
  font-size: 64px;
  line-height: 1.2;
}
.dispaly-1 {
  font-size: 48px;
  line-height: 1.2;
}

/* Heading -  Line-height:1.2 */
.heading-h1 {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 700;
}

.heading-h2 {
  font-size: 32px;
  line-height: 1.2;
  font-weight: 700;
}

.heading-h3 {
  font-size: 28px;
  line-height: 1.2;
  font-weight: 700;
}

.heading-h4 {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
}

.heading-h5 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
}

.heading-h6 {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
}

/* Label */

.label-lg {
  font-size: 20px;
  font-weight: 500;
}

.label-xs {
  font-size: 16px;
  font-weight: 500;
}

.label-sm {
  font-size: 14px;
  font-weight: 500;
}

.label-xs {
  font-size: 12px;
  font-weight: 500;
}

/* Paragraph */

.paragraph-lg {
  font-size: 20px;
  font-weight: 400;
}

.paragraph-xs {
  font-size: 16px;
  font-weight: 400;
}

.paragraph-sm {
  font-size: 14px;
  font-weight: 400;
}

.paragraph-xs {
  font-size: 12px;
  font-weight: 400;
}

/* Spacing */
.spacing-xxs {
  letter-spacing: 4px;
}

.spacing-xs {
  letter-spacing: 8px;
}

.spacing-s {
  letter-spacing: 12px;
}

.spacing-m {
  letter-spacing: 16px;
}

.spacing-l {
  letter-spacing: 24px;
}

.spacing-xl {
  letter-spacing: 32px;
}

.spacing-2xl {
  letter-spacing: 40px;
}

.spacing-3xl {
  letter-spacing: 48px;
}

.spacing-4xl {
  letter-spacing: 56px;
}

.spacing-5xl {
  letter-spacing: 64px;
}

.spacing-6xl {
  letter-spacing: 80px;
}
