<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <title>商品列表</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main class="container py-32 container-xs">
      <nav class="mb-24">
        <ol class="d-flex">
          <li class="breadcrumb-item label-md">
            <a href="#" class="breadcrumb-link">首頁</a>
          </li>
          <li class="breadcrumb-item label-md">
            <a href="#" class="breadcrumb-link">女鞋</a>
          </li>
          <li class="breadcrumb-item label-md"><a href="#">所有商品</a></li>
        </ol>
      </nav>
      <h1 class="heading-h3 mb-24 py-7">女鞋</h1>
      <div class="row">
        <!-- 左側導覽列 -->
        <div class="col-2 d-none-xs">
          <ul class="nav-list">
            <li class="label-md py-8 mb-16 active">
              <a href="#">所有商品</a>
            </li>
            <li class="label-md py-8 mb-16"><a href="#">慢跑鞋</a></li>
            <li class="label-md py-8 mb-16"><a href="#">滑板鞋</a></li>
            <li class="label-md py-8 mb-16"><a href="#">厚底鞋</a></li>
            <li class="label-md py-8"><a href="#">限定 / 聯名企劃</a></li>
          </ul>
        </div>
        <!-- 右側商品列表 -->
        <div class="col-10 col-4-xs">
          <div class="row row-xs">
            <div class="col-4 col-2-xs">
              <div class="mb-48">
                <a href="./product.html"
                  ><img
                    src="/assets/images/product.png"
                    alt="image-1"
                    class="mb-12"
                  />
                  <h2 class="heading-h6 mb-4">PLATFORM 404</h2>
                  <p class="label-md">NT$2,600</p></a
                >
              </div>
            </div>
            <div class="col-4 col-2-xs">
              <div class="mb-48">
                <img
                  src="/assets/images/product-1.png"
                  alt="image-2"
                  class="mb-12"
                />
                <h2 class="heading-h6 mb-4">PLATFORM 404</h2>
                <p class="label-md">NT$2,600</p>
              </div>
            </div>
            <div class="col-4 col-2-xs">
              <div class="mb-48">
                <img
                  src="/assets/images/product-2.png"
                  alt="image-3"
                  class="mb-12"
                />
                <h2 class="heading-h6 mb-4">VM001</h2>
                <p class="label-md">NT$2,600</p>
              </div>
            </div>
            <div class="col-4 col-2-xs">
              <div class="mb-48">
                <img
                  src="/assets/images/product-3.png"
                  alt="image-4"
                  class="mb-12"
                />
                <h2 class="heading-h6 mb-4">Melty Kiss</h2>
                <p class="label-md">NT$4,000</p>
              </div>
            </div>
            <div class="col-4 col-2-xs">
              <div class="mb-48">
                <img
                  src="/assets/images/product-4.png"
                  alt="image-5"
                  class="mb-12"
                />
                <h2 class="heading-h6 mb-4">BOOMBLOK</h2>
                <p class="label-md">NT$3,200</p>
              </div>
            </div>
            <div class="col-4 col-2-xs">
              <div class="mb-48">
                <img
                  src="/assets/images/product-5.png"
                  alt="image-6"
                  class="mb-12"
                />
                <h2 class="heading-h6 mb-4">BOOMBLOK</h2>
                <p class="label-md">NT$3,200</p>
              </div>
            </div>
            <div class="col-4 col-2-xs">
              <div class="mb-48">
                <img
                  src="/assets/images/product-6.png"
                  alt="image-7"
                  class="mb-12"
                />
                <h2 class="heading-h6 mb-4">R:UNER</h2>
                <p class="label-md">NT$4,000</p>
              </div>
            </div>
            <div class="col-4 col-2-xs">
              <div class="mb-48">
                <img
                  src="/assets/images/product-7.png"
                  alt="image-8"
                  class="mb-12"
                />
                <h2 class="heading-h6 mb-4">Sugar Snap</h2>
                <p class="label-md">NT$4,000</p>
              </div>
            </div>
            <div class="col-4 col-2-xs">
              <div class="mb-48">
                <img
                  src="/assets/images/product-8.png"
                  alt="image-9"
                  class="mb-12"
                />
                <h2 class="heading-h6 mb-4">Neofoam</h2>
                <p class="label-md">NT$4,000</p>
              </div>
            </div>

            <div class="col-4 col-2-xs mobile-only">
              <div class="mb-48">
                <img
                  src="/assets/images/product-9.png"
                  alt="image-9"
                  class="mb-12"
                />
                <h2 class="heading-h6 mb-4">Buttermood</h2>
                <p class="label-md">NT$4,000</p>
              </div>
            </div>
          </div>
          <!-- 頁籤導覽列 -->
          <ul class="d-flex justify-center align-center mb-32">
            <li class="mr-12">
              <button type="button" class="page-item btn" disabled>
                <i class="bi bi-chevron-left"></i>
              </button>
            </li>
            <button type="button" class="page-item btn active">1</button>
            <li class="mr-8 label-md"></li>
            <button type="button" class="page-item btn">2</button>
            <li class="mr-8 label-md"></li>
            <button type="button" class="page-item btn">3</button>
            <li class="mr-8 label-md"></li>
            <button type="button" class="page-item btn">...</button>
            <li class="mr-8 label-md"></li>
            <button type="button" class="page-item btn">10</button>
            <li class="mr-12 label-md"></li>
            <li>
              <button type="button" class="page-item btn">
                <i class="bi bi-chevron-right"></i>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
